<input #selectedGenresString type="text" readonly (click)="switchList()">
@if (focused){
<div class="d-flex flex-wrap align-content-start genre-box" >
    @for (genre of genres; track genre.id){
    <div (click)="selectGenre(genre)" class="p-2 border genre"
    [ngClass]="{'bg-warning': isSelected(genre), 'bg-info': !isSelected(genre)}">
        <p>{{genre.name}}</p>
        <button (click)="editGenre(genre); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
        <button (click)="deleteGenre(genre.id); $event.stopPropagation()"><i class="fa fa-trash"></i></button>
    </div>
    }

    <div class="p-2 bg-primary border genre" (click)="addGenre()">
        <p>Add genre <i class="fa fa-plus"></i></p>
    </div>
</div>
}