<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{author().name}}</h5>
    <p class="card-text">{{author().authorInfo == null? 'No additional info' : author().authorInfo}}</p>
    <div class="text-center">
        <button class="btn btn-primary" (click)="viewAuthor(author().id)">Author biography</button>
        <button class="btn btn-primary" [routerLink]="['/author', author().id, 'books']">Books</button>
        @if (accountService.currentUser() &&
        accountService.currentUser()?.role?.toLowerCase() === "admin"){
          <button class="btn btn-primary" [routerLink]="['/authors', author().id, 'edit']">Edit</button>
          <button class="btn btn-danger" (click)="deleteAuthor()">Delete</button>
        }
    </div>
  </div>
</div>